/* Styling for table header */
.p-datatable-table-container {
  border-radius: 12px 12px 0 0;
}
thead.p-datatable-thead {
  tr {
    th.p-datatable-header-cell {
      border: none;
      @apply bg-primary-50;
      padding: 0;

      /* Header cell content styling */
      .p-datatable-column-header-content {
        @apply text-ivory-850 p-4;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;

        /* Column title styling */
        .p-datatable-column-title {
          @apply text-sm font-semibold;
        }
      }
    }
  }
}

/* Styling for table body rows */
tbody.p-datatable-tbody {
  tr {
    @apply text-ivory-850 text-sm font-medium;

    /* Styling for table data cells */
    td {
      @apply p-4;
      text-align: center;
      border-bottom: 1px solid #f0f8ff;
    }
  }
}

.p-datatable-paginator-bottom {
  direction: ltr;
  border: none !important;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.p-paginator-content {
  display: flex;
  gap: 0.75rem !important;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.p-paginator-first {
  svg {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem !important;
    fill: #000 !important;
  }
}

.p-paginator-prev {
  svg {
    width: 1rem;
    height: 1rem;
    fill: #000 !important;

    margin-right: 1rem !important;
  }
}

span.p-paginator-current {
  font-size: 1rem;
  line-height: 1rem;
  color: #000;
}

.p-paginator-next {
  svg {
    width: 1rem;
    height: 1rem;
    fill: #000 !important;

    margin-left: 1rem !important;
  }
}

.p-paginator-last {
  svg {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem !important;
    fill: #000 !important;
  }
}
